services:
  mosquitto:
    image: eclipse-mosquitto:2
    container_name: industrial-mosquitto
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf
      - mosq_data:/mosquitto/data
    restart: unless-stopped
  
  listener:
    build:
      context: ../backend_listener
    container_name: industrial-listener
    environment:
      MQTT_HOST: mosquitto
      MQTT_PORT: "1883"
      MQTT_TOPIC: industrial/modbus/+/telemetry
      OUT_DIR: /data
      DB_PATH: /data/telemetry.db
    volumes:
      - ../data:/data
    depends_on:
      - mosquitto
    restart: unless-stopped

  api:
    build:
      context: ../backend_api
    container_name: industrial-api
    environment:
      DB_PATH: /data/telemetry.db
    volumes:
      - ../data:/data
    ports:
      - "8000:8000"
    depends_on:
      - listener
    restart: unless-stopped

volumes:
  mosq_data:
