services:
  mosquitto:
    image: eclipse-mosquitto:2
    container_name: industrial-mosquitto
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf
      - mosq_data:/mosquitto/data
    restart: unless-stopped

volumes:
  mosq_data:
